* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background: rgb(30, 29, 37);
  font-family: "Raleway Variable", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(30px);
}

.card {
  height: 670px;
  width: 350px;
  background: rgb(14, 12, 23);
  border-radius: 30px;
  box-shadow: 0 0 18px #0a0a0a;
}
.card .card-header {
  width: 100%;
  height: 45%;
}
.card .card-header .card-top {
  height: 92%;
  border-radius: 30px 30px 50% 50%;
  background-image: url("/assets/Freebie-GradientTextures-Preview-06.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 1rem;
  color: white;
  text-align: center;
}
.card .card-header .card-top div:nth-child(2) {
  margin-top: 20px;
  padding: 5px;
}
.card .card-header .card-top div:nth-child(2) h2 {
  text-transform: capitalize;
  margin-bottom: 10px;
  font-weight: bold;
}
.card .card-header .card-top div:nth-child(2) p {
  width: 70%;
  margin: auto;
}
.card .icon-circle {
  border-radius: 50px;
  clip-path: circle(50px);
  background: rgba(255, 255, 255, 0.1);
  width: 50px;
  height: 50px;
  padding: 10px;
  cursor: pointer;
}
.card .icon-circle .icon-inside {
  font-size: 1.5em;
  opacity: 0.7;
  transform: translate(25%, 10%);
}
.card .play-button {
  width: 120px;
  margin: auto;
  z-index: 1;
  cursor: pointer;
  transform: translateY(-35px);
}
.card .play-button .icon-circle {
  width: 70px;
  height: 70px;
  margin: inherit;
  background-image: url("/assets/image.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.card .play-button .icon-circle .icon-inside {
  transform: translate(15px, 12px);
  opacity: 1;
  font-size: 1.75em;
  color: white;
}
.card div.daily {
  height: 55%;
  width: 100%;
  color: white;
  text-transform: capitalize;
  padding: 1rem;
}
.card div.daily p {
  font-size: 14px;
  font-weight: normal;
  color: gray;
  margin-bottom: 8px;
}
.card div.daily ul {
  list-style-type: none;
}
.card div.daily ul li {
  transition: filter ease-in-out 300ms;
}
.card div.daily ul li:hover {
  filter: brightness(50%);
}
.card div.daily ul li:hover div .icon-arrow-right {
  transform: translateX(6px);
}
.card div.daily ul li div {
  height: 50px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex: 1 0 0;
  cursor: default;
}
.card div.daily ul li div:hover {
  cursor: pointer;
}
.card div.daily ul li div span {
  display: inherit;
}
.card div.daily ul li div span h3 {
  align-self: center;
  font-size: 16px;
}
.card div.daily ul li div span .icon {
  align-self: center;
  font-size: 23px;
  margin-right: 15px;
}
.card div.daily ul li div .icon-arrow-right {
  margin-right: 13px;
  transition: transform ease-in-out 300ms;
}
.card div.daily ul li .end-line {
  height: 1px;
  background-color: gray;
  opacity: 0.2;
}

p {
  font-size: 14px;
}

/*# sourceMappingURL=globals.css.map */
